* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  background: url(../images/img/pointes.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  background-repeat: no-repeat;
}
header .navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26 28 28 / 70%);
  align-items: center;
  height: 4rem;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  /* text-align: center; */
}
nav a {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px 0 15px 0;
  margin: 10px;
  transition: 1s ease;
}
nav a:hover {
  border-radius: 15px 0 15px 0;
  border: 1.5px solid lightpink;
}
header h1 {
  font-family: "Petit Formal Script", cursive;
}
.header_texte {
  max-width: 50%;
}
.header_texte {
  /* magin et padding pour positionner le texte */
  margin-top: 25%;
  padding-left: 5%;
}
.header_texte h2 {
  font-family: "Petit Formal Script", cursive;
  color: #333;
  font-size: 2.5em;
  text-shadow: 5px 1px 0 pink;
  margin-bottom: 20px;
}
.header_texte p {
  color: #333;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 20px;
}
.header_texte button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
header button:hover {
  background-color: lightpink;
}
/* SECTIONS */

#conteneur {
  background-color: lightpink;
  /* width: 100%; */
}
/* PREMIERE SECTION */
#premiere_section h2 {
  text-align: center;
  font-family: "Petit Formal Script", cursive;
  padding-top: 25px;
}
#premiere_section .section_para {
  padding: 40px;
}
#premiere_section h4 {
  text-align: center;
  padding: 15px;
}
#premiere_section img {
  width: 100%;
  /* border: 2px solid red; */
}
article {
  /* border: 2px solid red; */
  width: 100%;
}
.box {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  width: 70%;
}

article div {
  position: relative;
}
.prix {
  width: 60%;
  font-size: 1.3em;
  text-align: center;
  background-color: #fff;
  border-radius: 1.5px;
  letter-spacing: 1.5px;
  padding: 3px;
  position: absolute;
  top: 3%;
  right: 50%;
}
#premiere_section .texte {
  /* border: 2px solid green; */
  background-color: #fff;
  text-align: center;
  margin: 20px;
}
/* DEUXIEME SECTION */
#deuxieme_section {
  padding-top: 25px;
  /* border: 2px solid orangered; */
}
#deuxieme_section img {
  width: 50%;
}

.texte_image1 {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.texte_image2 {
  border: 2px solid greenyellow;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}
#deuxieme_section h4 {
  font-family: "Petit Formal Script", cursive;
  color: #333;
  font-size: 2.5em;
  text-shadow: 5px 1px 0 pink;
}

#deuxieme_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#deuxieme_section .text_image1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#deuxieme_section .text_image1 .image1{
  width: 50%;
  height: 100%;
}
#deuxieme_section .text_image1 .image1 img{
  object-fit: cover;
  object-position: 100% 50%;

}


/* FOOTER */
footer {
  background-color: black;
  color: #fff;
  height: 55px;
}
footer p {
  text-align: center;
  font-size: 1em;
  padding: 15px;
}
