* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  background: url(../images/img/pointes.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  background-repeat: no-repeat;
}
header .navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26 28 28 / 70%);
  align-items: center;
  height: 4rem;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  /* text-align: center; */
}
nav a {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px 0 15px 0;
  margin: 10px;
  transition: 1s ease;
}
nav a:hover {
  border-radius: 15px 0 15px 0;
  border: 1.5px solid lightpink;
}
header h1 {
  font-family: "Petit Formal Script", cursive;
}
.header_texte {
  max-width: 50%;
}
.header_texte {
  /* magin et padding pour positionner le texte */
  margin-top: 25%;
  padding-left: 5%;
}
.header_texte h2 {
  font-family: "Petit Formal Script", cursive;
  color: #333;
  font-size: 2.5em;
  text-shadow: 5px 1px 0 pink;
  margin-bottom: 20px;
}
.header_texte p {
  color: #333;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 20px;
}
.header_texte button {
  padding: 15px 20px;
  font-size: 1em;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
}
header button:hover {
  background-color: lightpink;
}
/* SECTIONS */

#conteneur {
  background-color: lightpink;
  /* width: 100%; */
}
#premiere_section {
  padding-bottom: 35px;
}
/* PREMIERE SECTION */
#premiere_section h2 {
  text-align: center;
  font-family: "Petit Formal Script", cursive;
  padding-top: 25px;
}
#premiere_section .section_para {
  padding: 40px;
}
#premiere_section h4 {
  text-align: center;
  padding: 15px;
}
#premiere_section img {
  width: 100%;
  /* border: 2px solid red; */
}
article {
  /* border: 2px solid red; */
  width: 100%;
}
.box {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  width: 70%;
}

article div {
  position: relative;
}
.prix {
  width: 60%;
  font-size: 1.3em;
  text-align: center;
  background-color: #fff;
  border-radius: 1.5px;
  letter-spacing: 1.5px;
  padding: 3px;
  position: absolute;
  top: 3%;
  right: 50%;
}
#premiere_section .texte {
  /* border: 2px solid green; */
  background-color: #fff;
  text-align: center;
  margin: 20px;
}
/* DEUXIEME SECTION */

/* TOP SECTION */
.container_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.block-top {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.block-bottom {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
/* POUR REDIMENSIONNER LA PREMIERE IMAGE */

.image-top {
  width: 50%;
  max-width: 50%;
  max-height: 400px;
  overflow: hidden;
  /* border: 2px solid red; */
}
 img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
}
/* LA DEUXIEME IMAGE  redimensionnner la deuxieme image*/
.image-bottom{
  width: 50%;
  max-width: 50%;
  max-height: 400px;
  overflow: hidden;
  /* border: 2px solid blue; */
}
.text-top {
  width: 50%;
}
.text-bottom{
  width: 50%;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.text h4 {
  font-size: 24px;
  font-family: "Petit Formal Script", cursive;
  color: #191818;
  font-size: 1.5em;
  text-shadow: 3px 0px 0 pink;
  text-align: center;
  padding: 15px;
}
.text p {
  width: 80%;
  margin: 0 auto;
}

/* FOOTER */
footer {
  background-color: black;
  color: #fff;
  height: 55px;
}
footer p {
  text-align: center;
  font-size: 1em;
  padding: 15px;
}

/* MEDIA QUERIES */
/* Media Query pour les écrans de moins de 600px */
@media (max-width: 600px) {
  /* Réduire la taille de la navbar */
  header .navbar {
    flex-direction: column;
    height: auto;
  }

  /* Adapter les articles */
  .box {
    flex-direction: column;
    width: 100%;
  }
  
  .container_2 div, img{
    width: 100%;
  }
  .block-bottom, .block-top{
    width: 100%;
    flex-direction: column;

  }


}


