* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.col-1 {
  width: 8.333333%;
  padding: 25px;
}
.col-2 {
  width: 16.6666%;
  padding: 25px;
}
.col-3 {
  width: 25%;
  padding: 25px;
}
.col-4 {
  width: 33.333333%;
  padding: 25px;
}
.col-5 {
  width: 41.6666666%;
  padding: 25px;
}
.col-6 {
  width: 50%;
  /* padding: 25px; */
}
.col-7 {
  width: 58.333333%;
  padding: 25px;
}
.col-8 {
  width: 66.666666%;
  padding: 25px;
}
.col-9 {
  width: 75%;
  padding: 25px;
}
.col-10 {
  width: 83.333333%;
  padding: 25px;
}
.col-11 {
  width: 91.666666%;
  padding: 25px;
}
.col-12 {
  width: 100%;
  padding: 25px;
}
/* HEADER */
header {
  background: url(../images/img/pointes.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
  background-repeat: no-repeat;
}
header .navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26 28 28 / 70%);
  align-items: center;
}
.navbar {
  height: 4rem;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  /* text-align: center; */
}
nav a {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px 0 15px 0;
  margin: 10px;
  transition: 1s ease;
}
nav a:hover {
  border-radius: 15px 0 15px 0;
  border: 1.5px solid lightpink;
}
header h1 {
  font-family: "Petit Formal Script", cursive;
}
.header_texte {
  max-width: 50%;
}
.header_texte {
  /* magin et padding pour positionner le texte */
  margin-top: 25%;
  padding-left: 5%;
}
.header_texte h2 {
  font-family: "Petit Formal Script", cursive;
  color: #333;
  font-size: 2.5em;
  text-shadow: 5px 1px 0 pink;
  margin-bottom: 20px;
}
.header_texte p {
  color: #333;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 20px;
}
.header_texte button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
header button:hover {
  background-color: lightpink;
}
/* SECTIONS */

#conteneur {
  background-color: lightpink;
  width: 100%;
}
/* pour les images des section */
img {
  width: 100%;
  /* display: block; */
}
#section1 p:first-of-type {
  padding: 20px;
}
#section1 h2 {
  text-align: center;
  font-family: "Petit Formal Script", cursive;
  padding-top: 25px;
}
#section1 h4 {
  text-align: center;
  padding: 15px;
}
.row {
  width: 60%;
  margin: 0 auto;
}
#section1 .row {
  display: flex;
  flex-wrap: wrap;
}
article div {
  position: relative;
}
.prix {
  background-color: #fff;
  position: absolute;
  top: 2.5%;
  left: -10%;
  padding: 5px;
}
.texte {
  background-color: #fff;
  text-align: center;
}
/* section2 */
/* #section2 img {
  width: 100%; */
/* height: 100%; */
/* }  */

#section2 .texte_image {
  display: flex;
  flex-wrap: wrap;
}
.texte_image .part {
  width: 40%;
  background-color: #fff;
  margin: 0 auto;
  padding: 90px 10px;
}
.texte_image h4 {
  font-family: "Petit Formal Script", cursive;
  color: #333;
  text-align: center;
  padding: 70px 40px;
  font-size: 2.5em;
  text-shadow: 5px 1px 0 pink;
  /* padding-bottom: 20px; */
}
#section2 p {
  /* max-width: 80%; */
  text-align: center;
  padding: 5px 35px;
}

footer {
  background-color: black;
  color: #fff;
  height: 55px;
}
footer p {
  text-align: center;
  font-size: 1em;
  padding: 15px;
}
